services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vive-silver-frontend
    restart: always
    networks:
      - proxy
networks:
  proxy:
    external: true