services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vive-silver-frontend
    restart: always
    labels:
      - "traefik.enable=true"
      # Cambia este dominio por el tuyo
      - "traefik.http.routers.frontend.rule=Host(`vivesilver.com`) || Host(`www.vivesilver.com`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls.certresolver=letsencrypt"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"
    networks:
      - proxy

networks:
  proxy:
    external: true
